@import "../includes/variables";

.grid {
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$grid-gutter-width;
        margin-right: -$grid-gutter-width;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }

    &__column {
        flex: 1 0 $grid-flex-basis;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;

        &--3 {
            flex-basis: $grid-flex-basis * 3;
        }
    }
}